<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/about-style.css">
    <title>About</title>
</head>
<body>
    <header>
        <img class="pika-clone" src="../images/sinnoh-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/partner-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/kanto-hat-pika.png" alt="">
        <img class="pika-clone" src="../images/alola-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/hoenn-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/world-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/unova-cap-pika.png" alt="">
        <img class="pika-clone" src="../images/kalos-cap-pika.png" alt="">
    </header>
    <div id="about-section">
        <h1>About Pikachu</h1>
        <p>Known as the mouse pokmeon, Pikachu is the mascot to the pokemon franchise. This has led pikachu to appear in numerable films (23) as well as being a notable character in the Pokmemon Animated Series. Pikachu is 0.4m tall and weighs around 6kg.</p>
    </div>
    <a href="/home"><img src="../images/Pokémon_Center_RSE.png" alt=""></a>
    
</body>
</html>