<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/home-style.css">
</head>
<body>
    <nav>
        <img src="../images/Pikachu-pokemon-font.png" alt="Pikachu-logo">
        <ul>
            <a href="/about" class="list-elements">About</a>
            <a href="/works" class="list-elements">Works</a>
            <a href="/photos" class="list-elements">Photos</a>
        </ul>
    </nav>
    <main>
        <img src="../images/Detective-Pikachu-Intro-Pic.jpeg" alt="pikachu-photo">
        <h1>"Pika Pika" - Pikachu</h1>
    </main>
</body>
</html>